@model Lab5.Models.ViewModels.DealsViewModel

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.FoodDeliveryServices)
{
    <h1>Show Deals for FoodDeliveryService @item.Title</h1>
    <a asp-action="Create" asp-route-id="@item.Id">Upload New</a> <br>
    <a asp-action="Back" asp-route-id="@item.Id">Back to List</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Deals != null)
        {
            @foreach (var item in Model.Deals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageLink)
                    </td>
                    <td>
                        <img src="/images/@item.ImageLink" class="img" />
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.DealId">Delete</a> 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>