@model Lab5.Models.ViewModels.DealsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Birth Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Customers != null) {
            @foreach (var item in Model.Customers) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="EditSubscriptions" asp-route-id="@item.Id">Edit Subscriptions</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.FoodDeliveryServices != null && Model.Subscriptions != null)
{
    <h2>Member of the following FoodDeliveryServices</h2>
    @foreach(var item in Model.Subscriptions)
    {
        @foreach(var item2 in Model.FoodDeliveryServices)
        {
            if (item.FoodDeliveryServiceId == item2.Id)
            {
                @Html.DisplayFor(modelItem => item2.Title) <br>
            }
        }
    }
}